@use '../foundation/breakPoint.scss' as *;

.Lp {
  @include pc {
    width: 37.5rem;
    margin: 0 auto;
    border: 1px solid #707070;
  }

  .Kv {
    background: #004690;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 4rem 0;
    .title {
      width: 30rem;
      img {
        width: 100%;
      }
    }
    .image {
      width: 35.3rem;
      img {
        width: 100%;
      }
    }
  }

  .Body {
    display: grid;
    place-items: center;
    gap: 3rem;
    padding: 4rem;

    .contents {
      display: grid;

      img {
        width: 33.4rem;
      }
    }
  }

  .Info {
    background: #004690;
    display: grid;
    place-items: center;
    gap: 3rem;
    padding: 6rem 0 10rem;

    .title {
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      color: white;
    }

    .image {
      width: 33.5rem;
    }

    .Button {
      width: 33.5rem;
      font-size: 1.5rem;
      @include pc {
        padding: 1.5rem 6rem 1.5rem 3rem;
        .arrow-icon {
          right: 2rem;
        }
        &:after {
          right: 6rem;
        }
      }
    }
  }
}

.col1 {
  position: fixed;
  top: 26.4rem;
  left: 14rem;
  @include sp {
    display: none;
  }
  .logo {
    width: 35.4rem;
  }
}

.col3 {
  position: fixed;
  top: 20rem;
  right: 22rem;

  @include sp {
    display: none;
  }
}
