@use '../foundation/breakPoint.scss' as *;

.Footer {
  padding: 8rem 0;
  background: var(--primary);
  color: white;
  position: relative;
  text-align: center;
  @include sp {
    padding: 7rem 2rem;
  }

  .contents {
    display: grid;
    place-items: center;
    position: relative;
  }

  .logo {
    display: grid;
    place-items: center;
    img {
      width: 59.5rem;
      @include sp {
        width: 25.6rem;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navy);
    font-family: 'Oswald', 'Noto Sans JP', sans-serif;
    margin-top: 7rem;
    border-top: 1px solid var(--navy);
    border-bottom: 1px solid var(--navy);
    width: 100%;
    gap: 5rem;
    padding: 1rem;
    @include sp {
      flex-direction: column;
      border-top: unset;
      border-bottom: unset;
      gap: 2rem;
      margin-top: 4rem;
    }

    a {
      font-size: 2rem;
      @include sp {
        font-size: 1.6rem;
      }
    }
  }

  .tobu {
    margin-top: 12rem;
    @include sp {
      margin-top: 8rem;
    }
    img {
      width: 11rem;
      mix-blend-mode: multiply;
    }
  }

  small {
    font-size: 1.2rem;
    color: var(--text);
    font-family: 'Oswald', 'Noto Sans JP', sans-serif;
    font-weight: 300;
    margin-top: 4rem;
  }

  &-lp {
    padding: 7rem 2rem;

    .logo {
      img {
        width: 25.6rem;
      }
    }

    .links {
      flex-direction: column;
      border-top: unset;
      border-bottom: unset;
      gap: 2rem;
      margin-top: 4rem;

      a {
        font-size: 1.6rem;
      }
    }

    .tobu {
      margin-top: 8rem;
    }
  }
}
