@use '../foundation/color.scss' as *;
@use '../foundation/breakPoint.scss' as *;

.Header {
  padding: 2.5rem 12rem 2.4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  gap: 2rem;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fdfcf8;

  @include sp {
    padding: 2rem;
  }

  .logo {
    position: relative;
    z-index: 99999;
    img {
      height: 3.9rem;
      @include sp {
        height: 2.4rem;
      }
    }
    .navy {
      display: block;
    }
    .white {
      display: none;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 4.8rem;

    .links {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: 1.7rem;
      white-space: nowrap;
      color: var(--navy);
      font-family: 'Oswald', 'Noto Sans JP', sans-serif;

      @include sp {
        display: none;
      }
    }
  }

  .expand {
    background: var(--navy);
    color: white;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;

    .wrapper {
      display: grid;
      gap: 6rem;

      .details {
        display: flex;
        text-align: center;
        gap: 2rem;
        font-size: 1.7rem;
        gap: 2rem 8rem;
        flex-direction: column;
        flex-wrap: wrap;

        li {
          height: min-content;

          a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: 'Oswald', 'Noto Sans JP', sans-serif;
            line-height: 1;
            text-align: left;
          }

          .title {
            font-size: 2.2rem;
            width: 12rem;
            @include sp {
              width: 10rem;
            }
          }
          .detail {
            font-size: 1.4rem;
          }
        }

        @include sp {
          flex-wrap: nowrap;
          height: auto;
        }

        ul {
          font-size: 1.5rem;
          font-weight: normal;
          margin-top: 1rem;
          display: grid;
          gap: 1rem;

          li {
            &:before {
              content: '-';
            }
          }
        }
      }
    }
  }

  .menu {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    position: fixed;
    top: 3.2rem;
    right: 2rem;
    display: block;
    z-index: 10000;

    @include sp {
      top: 2.3rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: var(--navy);
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: calc(50% - 0.1rem);
    }

    // 3本目の線も疑似要素で作成
    span::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: var(--navy);
      transition: all 0.3s ease;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;
    }

    &.is-open {
      &::before {
        top: calc(50% - 0.1rem);
        transform: rotate(45deg);
        background: white;
      }

      &::after {
        transform: rotate(-45deg);
        background: white;
      }

      span::before {
        opacity: 0;
      }
    }
  }

  &.is-open {
    .expand {
      z-index: 9999;
      opacity: 1;
      visibility: visible;
    }
    .logo {
      .navy {
        display: none;
      }
      .white {
        display: block;
      }
    }
  }

  &-lp {
    padding: 2rem;
    width: 37.5rem;
    margin: 0 auto;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    position: relative;

    .logo {
      img {
        height: 2.4rem;
      }
    }

    .content {
      .links {
        display: none;
      }
    }

    .expand {
      .wrapper {
        .details {
          li {
            .title {
              width: 10rem;
            }
          }
          flex-wrap: nowrap;
          height: auto;
        }
      }
    }
    .menu {
      top: 2.3rem;
      position: absolute;
      @include pc {
        display: none;
      }
    }
  }
}
