<header class="Header">
  <h1 class="logo">
    <a href="/">
      <img src="/img/logo.svg" alt="2025 東武ファンフェスタ" class="navy">
      <img src="/img/logo_white.svg" alt="2025 東武ファンフェスタ" class="white">
    </a>
  </h1>
  <div class="content">
    <ul class="links">
      {{> menuLinks}}
    </ul>
  </div>
  <div class="expand">
    <div class="wrapper">
      <ul class="details">
        <li>
          <a href="#tour">
            <p class="title">
              TOUR
            </p>
            <p class="detail">
              臨時列車ツアー
            </p>
          </a>
        </li>
        <li>
          <a href="#event">
            <p class="title">
              EVENT
            </p>
            <p class="detail">
              主な催事・イベント
            </p>
          </a>
        </li>
        <li>
          <a href="#goods">
            <p class="title">
              GOODS
            </p>
            <p class="detail">
              グッズ
            </p>
          </a>
        </li>
        <li>
          <a href="#other">
            <p class="title">
              OTHER
            </p>
            <p class="detail">
              その他
            </p>
          </a>
        </li>
        <li>
          <a href="#map">
            <p class="title">
              MAP
            </p>
            <p class="detail">
              会場マップ
            </p>
          </a>
        </li>
        <li>
          <a href="#access">
            <p class="title">
              ACCESS
            </p>
            <p class="detail">
              アクセス
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <button class="menu">
    <span></span>
  </button>
</header>