<!DOCTYPE html>
<html lang="ja" style="scroll-behavior: unset;">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RSJSE1JM2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-7RSJSE1JM2');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- キャッシュコントロール -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>2025東武ファンフェスタ特設サイト | 東武鉄道</title>
  <meta name="description"
    content="東武鉄道（本社：東京都墨田区）では、2025年12月7日(日)に、南栗橋車両管区（埼玉県久喜市、最寄駅：日光線南栗橋駅）にて「2025東武ファンフェスタ」を開催します。車両工場見学会、鉄道各社や沿線自治体などによる各種物販、N100系スペーシアXをはじめとした車両が一堂に会する車両撮影会を開催するほか、当社保有の保守用車両の体験乗車ならびにSL大樹用の客車（1両）で運行する「TM（TOBU MOTORCAR）ライナー」（有料事前応募制）を実施します。" />
  <link rel="canonical" href="https://tobu-event.jp/" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="2025東武ファンフェスタ特設サイト | 東武鉄道" />
  <meta property="og:description"
    content="東武鉄道（本社：東京都墨田区）では、2025年12月7日(日)に、南栗橋車両管区（埼玉県久喜市、最寄駅：日光線南栗橋駅）にて「2025東武ファンフェスタ」を開催します。車両工場見学会、鉄道各社や沿線自治体などによる各種物販、Ｎ１００系スペーシアＸをはじめとした車両が一堂に会する車両撮影会を開催するほか、当社保有の保守用車両の体験乗車ならびにＳＬ大樹用の客車（1両）で運行する「ＴＭ（TOBU MOTORCAR）ライナー」（有料事前応募制）を実施します。" />
  <meta property="og:url" content="https://tobu-event.jp/" />
  <meta property="og:site_name" content="2025東武ファンフェスタ特設サイト | 東武鉄道" />
  <meta property="og:image" content="https://tobu-event.jp/ogp_main.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://tobu-event.jp/ogp_main.png" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.tobu.co.jp/_assets/images/common/appletouchicon_180_180.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./scss/style.scss">
</head>