@use '../foundation/breakPoint.scss' as *;

.Button {
  background: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  min-height: 7rem;
  border-radius: 100vh;
  font-size: 1.8rem;
  margin-inline: auto;
  padding: 1.5rem 11rem 1.5rem 4.5rem;
  position: relative;
  line-height: 1.4;
  border: 2px solid var(--navy);
  color: var(--navy);
  font-weight: bold;

  @include sp {
    width: 29.6rem;
    min-height: 4rem;
    font-size: 1.6rem;
    padding: 1.5rem 7rem 1.5rem 3rem;
  }

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 2rem;
    background: var(--navy);
    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translateY(-50%);
    @include sp {
      right: 6rem;
    }
  }

  .arrow-icon {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.2rem;
    height: auto;
    opacity: 1;
    overflow: hidden;
    @include sp {
      right: 2rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      clip-path: inset(0 0 0 0);
    }
  }

  @media (hover: hover) {
    &:hover {
      padding-left: 5rem;

      .arrow-icon {
        animation: arrowSlide 0.8s cubic-bezier(0.2, 0.9, 0.3, 1);
      }
    }
  }
}

@keyframes arrowSlide {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  45% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  50% {
    opacity: 1;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes arrowBlink {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
