@use '../foundation/breakPoint.scss' as *;

.FixedBanner {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 20rem;
  z-index: 1;
  @include sp {
    width: 10rem;
    bottom: 1rem;
    right: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
