@use '../foundation/breakPoint.scss' as *;

.Label {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &_item {
    font-size: 1.2rem;
    min-width: 8.7rem;
    height: 2.4rem;
    display: grid;
    place-items: center;
    border-radius: 0.4rem;
    padding: 0 1rem;

    @include sp {
      min-width: 7.3rem;
      height: 2rem;
      font-size: 1rem;
    }

    &-red {
      border: 1px solid var(--red);
      color: var(--red);
    }

    &-navy {
      border: 1px solid var(--navy);
      color: var(--navy);
    }

    &-redFill {
      border: 1px solid var(--red);
      background: var(--red);
      color: white;
    }

    &-navyFill {
      border: 1px solid var(--navy);
      background: var(--navy);
      color: white;
    }
  }
}
