@use '../foundation/breakPoint.scss' as *;

.Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: auto;
  @include sp {
    padding: 2rem 1rem;
  }

  &.overflow {
    align-items: flex-start;
  }

  &.is-open {
    display: flex;
  }

  &_close {
    position: absolute;
    top: 4.8rem;
    right: 4.8rem;
    width: 8.3rem;
    height: 8.3rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    @include sp {
      width: 1.9rem;
      height: 1.9rem;
      top: 2rem;
      right: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_content {
    width: 1280px;
    max-width: 100%;
    background: white;
    border-radius: 2.4rem;
    position: relative;
    padding: 8rem 10rem;
    margin: auto 0;
    @include sp {
      width: 100%;
      padding: 3.8rem 2rem;
      margin: 0;
    }
  }

  .SectionTitle {
    margin: 0 auto 7rem;
    position: relative;
    opacity: 1 !important;
    transform: unset;
    height: 7rem;
    display: block;
    img {
      width: auto;
      height: 100%;
    }
    @include sp {
      height: 5rem;
      margin: 0 auto 3rem;
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9rem 5.7rem;
    @include sp {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 2.3rem;
    }

    .texts {
      display: grid;
      place-items: center;
      text-align: center;
      gap: 1rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: bold;
      @include sp {
        font-size: 1.4rem;
        margin-top: 1rem;
      }
      .title {
        span {
          font-size: 2.4rem;
          @include sp {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @include sp {
    gap: 3rem;
  }
}
