@use '../foundation/breakPoint.scss' as *;

.Wrapper {
  max-width: 113rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  place-items: center;
  gap: 5rem;
  position: relative;

  @include sp {
    gap: 3rem;
  }
}
