/* foundation */
@use './foundation/reset.scss';
@use './foundation/color.scss';
@use './foundation/common.scss';
@use './foundation/breakPoint.scss';
@use './foundation/pxvw.scss';

/* component */
@use './component/wrapper.scss';
@use './component/sectionTitle.scss';
@use './component/button.scss';
@use './component/label.scss';
@use './component/modal.scss';
@use './component/fixedBanner.scss';

/* ui */
@use './ui/header.scss';
@use './ui/footer.scss';
@use './ui/card.scss';

/* page */
@use './page/top.scss';
@use './page/lp.scss';
@use './page/end.scss';

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
